<div class="container">
    <div class="containerLeft">
        <div class="imgMaps">
            <img [src]="'assets/images/icon_maps.png'" />
        </div>
        <div class="containerLeftText">
            <p>Venha nos visitar!</p>
            <p>Rua dos doces, 123, Campo Grande - MS!</p>
        </div>
    </div>
    <div class="containerRight">
        <div class="containerRightImg">
            <img [src]="'assets/images/icon_instagram.png'">
            <img [src]="'assets/images/icon_email.png'">
        </div>
        <div class="containerRightText">
            <a>@docenandacg</a>
            <a>docenandacg@gmail.com</a>
        </div>
    </div>
</div>