@font-face {
    font-family: Script MT;
    src: url(font/ScriptMTBold.ttf);
}

.container{
    width: 100%;
    height: 100px;
    /* border: 2px solid red; */
    background-color: #FFF6F1;  
    margin-top: 0;
}

.containerMenu {
    margin: 0px 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerMenu a{
    font-family: Script MT;
    font-size: 1.2rem;
}

.imgContainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer img{
   max-height: 100%;
   padding-right: 30px;
}

a:hover{
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

